body{
  margin: 0;
  padding: 0;
  background-image: url(about.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    text-align: center;
    margin-top: 50px;
    
  }
  
  img {
    
    width: 200px;
    border-radius: 30%;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    background-color: #000000;
  }
  
  .name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.452);
    height: 40px;
    width: 300px;
    margin-left: 580px;
    border: 7px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 3px;
    text-shadow: 2px 2px 4px black;
  }
  
  .bio {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    height: 180px;
    width: 700px;
    margin-left: 380px;
    background-color: rgba(0, 0, 0, 0.636);
    border: 2px solid black;
    padding: 8px;
    border-radius: 20px;
  }
  
  .contact-info {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    height: 130px;
    width: 400px;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    /* margin-left: 200px; */
    padding: 8px;
    text-align: justify;
    border-radius: 20px;
    background-color: #0000008d;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .contact-info strong {
    font-weight: bold;
  }
  